.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f1c753;
  min-height: 100vh;
}

h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: rgb(197, 131, 18);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.post-form {
  margin-bottom: 20px;
}

select {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 200px;
}

.custom-file-upload {
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  margin-top: 10px;
}

.custom-file-upload input[type="file"] {
  display: none;
}